.text-primario {
    color: #EFA67D;
}
.text-secundario {
    color: #DCE3DA;
}
.bg-primario {
    background-color: #EFA67D;
}
.bg-secundario {
    background-color: #DCE3DA;
}
.border-ira{
    border:6px solid #FFB9BA;
}
.border-asco{
    border:6px solid #C8FDDE;
}
.border-tristeza{
    border:6px solid #e1cbff;
}
.border-felicidad{
    border:6px solid #F7CC92;
}
.border-sorpresa{
    border:6px solid #FEFFB8;
}
.border-miedo{
    border:6px solid #DBDBDB;
}